<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="webdriveruniversityframework">
	<test name="Cucumber Tests" junit="true">
		<classes>
			<!-- <class name="webdriveruniversityframework.runner.MainRunner" /> -->
		<class name="runners.MainRunnerFramework" /> 
		</classes>
	</test>
</suite>